.itemPg_1{
    background-image: url(../images/background/ff6/ff6arena.png);
    height: 170vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    margin-top: -97px;
    font-family: 'ffOldSchool'; 
}

.itemPg_2{
    background-image: url(../images/background/ffx/ffxBattle.jpeg);
    height: 140vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    margin-top: -57px;
    font-family: 'ffOldSchool'; 
}

.itemPg_3{
    background-image: url(../images/background/ff7r/ff7rItems.jpeg);
    height: 140vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    margin-top: -70px;
    font-family: 'ffOldSchool'; 
}

.selectItem{
    color: black;
}

.itemData_1{
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -1px 0 #7b757b,
                0 2px #424542;
    height: 250px;            
    width: 500px;
    padding: 5px 10px;
    
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

    -webkit-border-radius: 2px;
    -moz-border-radius: 7px;
    border-radius: 6px;
    font-family: 'ffOldSchool';
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                1px 1px #212021;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 500px;
    overflow: auto;
}

.itemData_2{
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -1px 0 #7b757b,
                0 2px #424542;
    height: 250px;            
    width: 500px;
    padding: 5px 10px;
    
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

    -webkit-border-radius: 2px;
    -moz-border-radius: 7px;
    border-radius: 6px;
    font-family: 'consolas';
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                1px 1px #212021;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 500px;
    overflow: auto;
}

.itemData_3{
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -1px 0 #7b757b,
                0 2px #424542;
    height: 250px;            
    width: 500px;
    padding: 5px 10px;
    
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

    -webkit-border-radius: 2px;
    -moz-border-radius: 7px;
    border-radius: 6px;
    font-family: 'Optima_Roman';
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                1px 1px #212021;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 500px;
    overflow: auto;
}