.container_1 {
    background-image: url(../images/background/ff6/ff6Splash.png);
    height: 110vh;
    background-size: 1850px;
    background-repeat: no-repeat;
    font-size: 50px;
    margin-top: -79px;
    min-height: 100vh;
}

@media (min-width: 650px ) {
    .container_1 {
        background-position: center center;
    }
}
.container_2 {
    background-image: url(../images/background/ffx/ffxSplash.png);
    height: 110vh;
    background-size: 1850px;
    background-repeat: no-repeat;
    font-size: 32px;
    line-height:1.8;
    margin-top: -79px;
}

@media (min-width: 650px ) {
    .container_2 {
        background-position: center center;
    }
}
.container_3 {
    background-image: url(../images/background/ff7r/ff7rSplash.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    margin-top: -97px;
}

@media (min-width: 650px ) {
    .container_3 {
        background-position: center center;
    }
}

div.gameWelcome_1{
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    width: 500px;
    padding: 5px 10px;
    
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: 'ffOldSchool';
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                1px 1px #212021;
    font-size: 32px;
    font-weight: normal;
    margin-top: 450px;
    margin-left: 30px;}

.game__name1 {
font-family: 'ferrum';
line-height: 3.8;
color: #ffffff;
margin-left: 30px;
height: 5vh;
margin-top: 30px
}


.gameWelcome_2 {
    font-family: 'consolas';
    color: #ffffff;
    font-size: 30px;
    margin-top: 610px;
    margin-left: 30px;
    line-height: 1.6;
}

.game__name2 {
font-family: 'ferrum';
line-height: 3.8;
color: #ffffff;
margin-left: 30px;
height: 5vh;
margin-top: px
}

.gameWelcome_3 {
    font-family: 'Optima_Roman';
    color: #000000;
    font-size: 30px;
    margin-top: 470px;
    margin-left: 30px;
    line-height: 1.6;
}

.game__name3 {
font-family: 'Optima_Roman';
line-height: 5.8;
color: #ffffff;
margin-left: 30px;
height: 1vh;
margin-top: 45x
}